body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
span{
    color: orange;
}
.flex-containeer{
    display: flex;
}
.halp-width{
    width: 40%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.halp-width img{
    padding-left: 10%;
    width: 80%;
}
#main-images{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 96px 40px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange,tomato);
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#secn-images{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 15% 50%;
}